@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Open+Sans:wght@300&family=Shippori+Mincho&display=swap');


html {
    font-size: 20px; 
    font-family: 'Shippori Mincho', serif;
  }
  
  :root {
    --primary-color: #565656;
    --secondary-color: #819A96;
    --accent1-color: #819A96;
    --accent2-color: #004148;


    --heading-font: 'Shippori Mincho', serif;
    --paragraph-font: 'Inter', sans-serif;


    --nav-background-color: #FFFFFF;
    --nav-link-color: #819A96;
    --nav-hover-link-color: #b3c4c1;
    --nav-hover-background-color: #004148;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .company-info,
  .location-map,
  .row
  .image-row {
    width: 100%; 
    padding: 20px;
    margin-bottom: 30px; 
  }
  
header, main, footer {
    margin: 20px;
    padding:20px;
}

/* -------------------HEADER-------------------------- */
header {
    display: flex;
    background-color: #819A96;
    justify-content: center;
    align-items: center;
    color: #3a3a3a;
  }
  

section {
    margin-bottom: 20px;
}
     
body {
    margin: 0;
    padding: 0;
    align-content: center;
}

  .logo-container img {
    max-height: 70px; }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }


/* -------------------MAIN -------------------------- */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.body {
    margin: 20px;
}


.company-info {
    display: flex;
    justify-content: space between;
}


.info-item {
    flex: 1;
    margin: 10px;
    text-align: center; 
    font-size: 15px;
}

.info-item img {
    display: block; 
    margin: 0 auto 10px;
    width: 50px;
    height: auto;
}


.location.map {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}

.location.map .info-item {
    padding: 20px;
    width: 100%;
    max-height: 50px;
}

.location.map iframe {
    width: 100%;
    height: 100%;  
    border: none; 
}

/*PROFILES*/
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  margin-bottom: 20px;
  justify-content: space-between;
  padding: 20px; 
  align-content: center;
}

.column {
  flex: 1;
  width: calc(33.33% - 20px);
  margin: 0 10px;
  padding: 20px; 
  text-align: center;
  border: 1px solid #ccc; 
  box-sizing: border-box; 
}

.column img {
  width: auto;
  height: 200px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.column p {
  height: 200px;
  margin-top: 10px; 
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  font-size: 12px;
}

/* -------------------CONTACT FORM-------------------------- */

.contact-form {
  width: 50%;
  max-width: 500px; 
  margin-bottom: 30px; 
  padding: 20px;
  border: 1px solid #ccc; 
  box-sizing: border-box; 
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
}

.input-group input,
.input-group select,
.input-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.input-group input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
  margin-left: 5px;
}

.button-group {
  text-align: center;
  margin-top: 20px;
}

.button-group button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-group button:hover {
  background-color: #0056b3;
}

/*-------------------FOOTER-------------------------- */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }

  footer p{
    font-size: 13px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
  }