@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Open+Sans:wght@300&family=Shippori+Mincho&display=swap');

html {
    font-size: 20px; 
    font-family: 'Shippori Mincho', serif;
  }
  
  :root {
    --primary-color: #565656;
    --secondary-color: #819A96;
    --accent1-color: #819A96;
    --accent2-color: #004148;

    --heading-font: 'Shippori Mincho', serif;
    --paragraph-font: 'Inter', sans-serif;

    --nav-background-color: #FFFFFF;
    --nav-link-color: #819A96;
    --nav-hover-link-color: #b3c4c1;
    --nav-hover-background-color: #004148;
}

header, main, footer {
    margin: 20px;
}

body {
    margin: 0;
    padding: 0;
}

.company-info, .location.map, .profile-images, .contact-form {
    margin-bottom: 20px; 
    padding: 20px; 
}

/* -------------------HEADER-------------------------- */
header {
    display: flex;
    background-color: #819A96;
    justify-content: center;
    align-items: center;
    color: #3a3a3a;
  }
  
  .logo-container img {
    max-height: 70px; }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }
/* -------------------MAIN -------------------------- */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.body {
    margin: 20px;
}

.company-info {
    display: flex;
    justify-content: space between;
}

.info-item {
    flex: 1;
    margin: 10px;
    text-align: center; 
    font-size: 15px;
}

.info-item img {
    display: block; 
    margin: 0 auto 10px;
    width: 50px;
    height: auto;
}

.location.map {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location.map .info-item {
    width: 100%;
    max-width: 600px;
    max-height: 20px;
}

.location.map iframe {
    width: 100%;
    height: 100%;  
    border: none; 
}

.profile-images {
    display: flex;
    max-height: 200px;
    justify-content: center; 
    align-items: center; 
}

.profile-images img {
    height: 200px; 
    margin: 0 10px; 
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black; 
    padding: 20px; 
    background-color: #eaf4fc;
    max-width: 200px;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form form {
    width: 100%;
    max-width: 400px; 
}

.contact-form label,
.contact-form input,
.contact-form select,
.contact-form textarea,
.contact-form button,
.contact-form br {
    width: 100%;
    margin-bottom: 10px; 
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    width: auto;
}

.input-group {
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}

.input-group label {
    display: block;
}

.input-group input,
.input-group select,
.input-group textarea {
    width: 100%;
}

.input-group textarea {
    resize: vertical;
}

.input-group button {
    margin-top: 10px;
}
/* -------------------FOOTER-------------------------- */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
  }