@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Open+Sans:wght@300&family=Shippori+Mincho&display=swap');


html {
    font-size: 20px; 
    font-family: 'Shippori Mincho', serif;
  }
  
  :root {
    --primary-color: #565656;
    --secondary-color: #819A96;
    --accent1-color: #819A96;
    --accent2-color: #004148;


    --heading-font: 'Shippori Mincho', serif;
    --paragraph-font: 'Inter', sans-serif;


    --nav-background-color: #FFFFFF;
    --nav-link-color: #819A96;
    --nav-hover-link-color: #b3c4c1;
    --nav-hover-background-color: #004148;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .company-info,
  .location-map,
  .image-row {
    width: 100%; 
    float: center;
    padding: 20px;
    margin-bottom: 20px; 
  }
  
header, main, footer {
    margin: 20px;
}

/* -------------------HEADER-------------------------- */
header {
    display: flex;
    background-color: #819A96;
    justify-content: center;
    align-items: center;
    color: #3a3a3a;
  }
  

section {
    margin-bottom: 20px;
}
     
body {
    margin: 0;
    padding: 0;
    align-content: center;
}

  .logo-container img {
    max-height: 70px; }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }


/* -------------------MAIN -------------------------- */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.body {
    margin: 20px;
}


.company-info {
    display: flex;
    justify-content: space between;
}


.info-item {
    flex: 1;
    margin: 10px;
    text-align: center; 
    font-size: 15px;
}

.info-item img {
    display: block; 
    margin: 0 auto 10px;
    width: 50px;
    height: auto;
}


.location.map {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location.map .info-item {
    width: 100%;
    max-height: 30px;
}

.location.map iframe {
    width: 100%;
    height: 100%;  
    border: none; 
}

.row {
    padding: 50px;
}
  
.image-row {
    display: flex;
    flex-wrap: wrap;
    max-height: 50px;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.image-row img {
    height: 300px; 
    margin: 0 10px; 
}

.row p{
    font-size: 13px;
}

/* -------------------CONTACT FORM-------------------------- */

.contact-form {
    max-width: 100%;
    padding: 20px;
    font-size: 13px;
    border: 1px solid black; 
    background-color: #eaf4fc;
    align-items: center;
}

.contact-form h2 {
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label,
.input-group input,
.input-group select,
.input-group textarea {
    display: block;
    font-family: 'Shippori Mincho';
}

.input-group input,
.input-group select,
.input-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

.input-group input[type="checkbox"] {
    width: auto;
}

.button-group {
    text-align: center;
}

.button-group button {
    padding: 10px 20px;
    background-color: #001328;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-group button:hover {
    background-color: #474747;
}

/*-------------------FOOTER-------------------------- */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }

  footer p{
    font-size: 13px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icons a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
  }