<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Open+Sans:wght@300&family=Shippori+Mincho&display=swap');

 /* CSS HEX */
--cambridge-blue: #819a96ff;
--mint-cream: #deece5ff;
--white: #ffffffff;
--davys-gray: #565656ff;
--midnight-green: #004148ff;

/* CSS HSL */
--cambridge-blue: hsla(170, 11%, 55%, 1);
--mint-cream: hsla(150, 27%, 90%, 1);
--white: hsla(0, 0%, 100%, 1);
--davys-gray: hsla(0, 0%, 34%, 1);
--midnight-green: hsla(186, 100%, 14%, 1);

/* SCSS HEX */
$cambridge-blue: #819a96ff;
$mint-cream: #deece5ff;
$white: #ffffffff;
$davys-gray: #565656ff;
$midnight-green: #004148ff;

/* SCSS HSL */
$cambridge-blue: hsla(170, 11%, 55%, 1);
$mint-cream: hsla(150, 27%, 90%, 1);
$white: hsla(0, 0%, 100%, 1);
$davys-gray: hsla(0, 0%, 34%, 1);
$midnight-green: hsla(186, 100%, 14%, 1);

/* SCSS RGB */
$cambridge-blue: rgba(129, 154, 150, 1);
$mint-cream: rgba(222, 236, 229, 1);
$white: rgba(255, 255, 255, 1);
$davys-gray: rgba(86, 86, 86, 1);
$midnight-green: rgba(0, 65, 72, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #819a96ff, #deece5ff, #ffffffff, #565656ff, #004148ff);
$gradient-right: linear-gradient(90deg, #819a96ff, #deece5ff, #ffffffff, #565656ff, #004148ff);
$gradient-bottom: linear-gradient(180deg, #819a96ff, #deece5ff, #ffffffff, #565656ff, #004148ff);
$gradient-left: linear-gradient(270deg, #819a96ff, #deece5ff, #ffffffff, #565656ff, #004148ff);
$gradient-top-right: linear-gradient(45deg, #819a96ff, #deece5ff, #ffffffff, #565656ff, #004148ff);
$gradient-bottom-right: linear-gradient(135deg, #819a96ff, #deece5ff, #ffffffff, #565656ff, #004148ff);
$gradient-top-left: linear-gradient(225deg, #819a96ff, #deece5ff, #ffffffff, #565656ff, #004148ff);
$gradient-bottom-left: linear-gradient(315deg, #819a96ff, #deece5ff, #ffffffff, #565656ff, #004148ff);
$gradient-radial: radial-gradient(#819a96ff, #deece5ff, #ffffffff, #565656ff, #004148ff);
</style>

html {
    font-size: 20px; 
    font-family: 'Shippori Mincho', serif;
  }
  
  :root {
    --primary-color: #565656;
    --secondary-color: #819A96;
    --accent1-color: #819A96;
    --accent2-color: #004148;

    --heading-font: 'Shippori Mincho', serif;
    --paragraph-font: 'Inter', sans-serif;

    --nav-background-color: #FFFFFF;
    --nav-link-color: #819A96;
    --nav-hover-link-color: #b3c4c1;
    --nav-hover-background-color: #004148;
  }

  body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }

  h1 {
    font-family: 'Shippori Mincho', serif;
  color: #FFFFFF;
  text-align: center;
  }

  div {
    font-family: 'Inter', sans-serif;
    color: #DEECE5;
    text-align: center;
  }
  
  h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
  }

  header {
    padding: 20px;
    background-color: var(--accent1-color);
  }

  p {
    padding: 25px;
  }

  main img{
    max-width: 600;
    padding: 20px;
  }

  nav {
    background-color: var(--nav-background-color);
    font-size: 2.2rem;
    display: flex;
  }

  nav a{
    display: block;
    color: var(--nav-hover-link-color);
  }

  nav, nav a, nav a:link, nav a:hover, nav a:visited {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }

