@import url(https://fonts.google.com/specimen/Shippori+Mincho?query=shipp);

@import url(https://coolors.co/819a96-deece5-ffffff-565656-004148);

html {
    font-size: 20px; 
    font-family: 'Shippori Mincho', regular-400;
  }
  
  :root {
    --primary-color: #565656;
    --secondary-color: #819A96;
    --accent1-color: #819A96;
    --accent2-color: #004148;

    --heading-font: 'Shippori Mincho', regular-400;
    --paragraph-font: 'Mallana';

    --nav-background-color: #DEECE5;
    --nav-link-color: #819A96;
    --nav-hover-link-color: #FFFFFF;
    --nav-hover-background-color: #004148;
  }

  body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }

  h1 {
    font-family: 'Shippori Mincho';
  color: #FFFFFF;
  text-align: center;
  }

  div {
    font-family: 'Mallana';
    color: #DEECE5;
    text-align: center;
  }
  
  h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
  }

  header {
    padding: 20px;
    background-color: var(--accent1-color);
  }

  p {
    padding: 25px;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  nav {
    background-color: var(--nav-background-color);
    font-size: 2.2rem;
    display: flex;
  }

  nav a{
    display: block;
    color: var(--nav-hover-link-color);
  }

  nav a:hover, nav a:visited {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }

